* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* HEADER */
.header-container {
    width: 100%;
    padding: 15px 30px;
    background: #111;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head-items {
    list-style: none;
    display: flex;
    gap: 20px;
}
.head-items a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: antiquewhite;
    transition: transform 2s ease;
} 
.box:hover{
    transform: rotate(180deg);
    border-radius: 50%;
}